<meta charset="utf-8">
<title>@@title | Find a Carer</title>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i" rel="stylesheet">
<link rel="canonical" href="/" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css">
	@font-face {
	    font-family: Myriad Pro Bold Condensed;
	    src: url("src/fonts/MyriadPro-BoldCond.otf") format("opentype");
	}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="dist/css/bootstrap-custom.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css" />
<link rel="stylesheet" href="dist/css/style.css" type="text/css" />